---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Home/Hero"
import RecentBlogs from "../components/Home/RecentBlogs.astro"
import Features from "../components/Home/Features";
---

<Layout title="Welcome to Astro.">
  <main class="w-full flex flex-col items-center justify-center">
	<Hero />
	<div class="container mx-auto">
		<Features />
	</div>
	<div class="container mx-auto">
		<RecentBlogs />
	</div>
  </main>
</Layout>
