---
import BlogPreview from '../Blog/BlogPreview.jsx'
---

<div class="my-4">
    <h2 class="text-3xl font-bold mb-4 text-white text-center">Latest Posts</h2>
    <div class="flex flex-col items-center gap-4">
        <BlogPreview title='TypeScript is better than JavaScript. Lets prove it! ' description='Hey! I have been banned to ask question, I find this sanction harsh. I need positive upvote could you please Sir help me in my long quest by just upvoting my question.' tags={['js','web']} url='/' uuid='1' author='Bijoy Kar' pubDate='04/088/2023' count={2}  />
        <BlogPreview title='1st blog fjhfh hb duihb ih' description='Hey! I have been banned to ask question, I find this sanction harsh. I need positive upvote could you please Sir help me in my long quest by just upvoting my question.' tags={['js','web']} url='/' uuid='1' author='Bijoy Kar' pubDate='04/088/2023' count={2}  />
        <BlogPreview title='1st blog fjhfh hb duihb ih' description='Hey! I have been banned to ask question, I find this sanction harsh. I need positive upvote could you please Sir help me in my long quest by just upvoting my question.' tags={['js','web']} url='/' uuid='1' author='Bijoy Kar' pubDate='04/088/2023' count={2}  />
        <BlogPreview title='1st blog fjhfh hb duihb ih' description='Hey! I have been banned to ask question, I find this sanction harsh. I need positive upvote could you please Sir help me in my long quest by just upvoting my question.' tags={['js','web']} url='/' uuid='1' author='Bijoy Kar' pubDate='04/088/2023' count={2}  />
        
    </div>
</div>